.create-item__title {
	margin-top: 10px;
	margin-bottom: 40px;
	font-size: 32px;
	text-align: center;
	font-weight: 500;
	letter-spacing: 1px;
}

.create-item__item {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.create-item__item:last-child {
	margin-bottom: 0;
}

.create-item__header {
	flex-shrink: 0;
	display: block;
	width: 220px;
	font-size: 18px;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.create-item__input {
	padding: 0;
	width: 100%;
	font-size: 14px;
	letter-spacing: 0.9px;
	border: none;
	outline: none;
}

.create-item__input::placeholder {
	font-size: 14px;
	font-weight: 400;
	opacity: 0.5;
}
