.logins-info__title {
	margin-bottom: 30px;
	text-align: center;
	font-size: 26px;
	font-weight: 600;
}

.styled-table {
	/* width: 1400px; */
	border-collapse: collapse;
	margin-bottom: 20px;
	table-layout: fixed;
}

.styled-table td,
.styled-table th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* .styled-table td,
.styled-table th {
	width: 50px;
} */

/* .styled-table td:nth-child(2),
.styled-table th:nth-child(2) {
	width: 50px;
} */

.styled-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.styled-table th {
	text-align: center;
	background-color: #89c53f;
	color: white;
}

.styled-table .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* EMPTY */
.logins-info__empty {
	font-size: 26px;
	font-weight: 600;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

td {
	word-break: break-all;
	overflow-wrap: break-word;
}

.logins-info__user {
	color: #0832de;
}
