.login {
	flex: 4;
	height: 100vh;
}
.login__container {
	padding-top: 60px;
	/* padding-bottom: 60px; */
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 1230px;
}

.login-list {
	height: 100%;
	width: 100%;
	flex: 4;
}
