.sidebar {
	flex-shrink: 0;
	width: 300px;
	height: 100vh;
	background-color: #f1f1f1;
	position: sticky;
	font-size: 18px;
}

.sidebar-menu {
	margin-top: 40px;
	padding-left: 20px;
}

.sidebar-list__item {
	/* padding: 6px 5px 6px 7px;
	width: 180px; */
	display: flex;
	align-items: center;
	gap: 10px;
}

.sidebar-list__link {
	display: inline-block;
	margin-bottom: 15px;
	padding: 6px 5px 6px 7px;
	width: 180px;
	border-radius: 6px;
	transition: all 0.8s ease-in-out;
}

.sidebar-list__link:hover {
	background-color: #0832de;
	color: #fff;
	cursor: pointer;
}

.sidebar-list__link-active {
	background-color: #0832de;
	color: #fff;
	cursor: pointer;
}

/* dropdown-menu */

.dropdown-menu {
	padding-left: 20px;
}

.dropdown-menu__item {
	margin-bottom: 15px;
}

.dropdown-menu__link {
	display: inline-block;
	padding: 6px 5px 6px 7px;
	width: 180px;
	transition: all 0.8s ease-in-out;
	border-radius: 6px;
}

.dropdown-menu__link:hover {
	background-color: #ced6f8;
	cursor: pointer;
}

.dropdown-menu__link-active {
	background-color: #ced6f8;
	cursor: pointer;
}
